<bio-modal openonpageload="{{open}}" data-resources="[{paths: ['components/BioModal/index.js']}]">

    <div class="row row--reducedWidth">
        <div class="col">
            <section class="whosBehind">
                <h3>
                    Who's behind <br><strong>Biotope?</strong>
                </h3>

                <h4 class="whosBehind__headline">Core Group</h4>

                <div class="whosBehind__list">
                    <bio-collaborator-tile imgsrc="../_assets/marc.jpg">Marc Emmanuel
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/tiago.jpg">Tiago Marques
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/timo.jpg">Timo Mayer</bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/danny.jpg">Danny Stey</bio-collaborator-tile>
                </div>

                <h4 class="whosBehind__headline">Collaborators</h4>

                <div class="whosBehind__list">
                    <bio-collaborator-tile imgsrc="../_assets/marc.jpg">Marc Emmanuel
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/tiago.jpg">Tiago Marques
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/timo.jpg">Timo Mayer</bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/danny.jpg">Danny Stey</bio-collaborator-tile>
                </div>
            </section>
        </div>
    </div>


</bio-modal>
