@import 'defaultSassImports.scss';

@mixin swoosh($position, $height, $direction, $color, $left, $right) {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 100;
	height: $height;
	background-color: $color;
	clip-path: inset(0 0 0 0 round 0 0 $left $right);
	@if $position == 'top' {
		top: - $height;
	}
	@if $position == 'bottom' {
		bottom: - $height;
	}
	@if $direction == 'up' {
		transform: rotateX(180deg);
	}
}

.splash {
	font-family: $font-family-titles;
	height: 800px;
	background-image: url(../../_assets/splashscreen.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	color: $main-orange;

	@include breakpoint($large) {
		height: 110vh;
	}	
	
	&__intro {
		display: flex;
		flex-flow: column;
		padding-top: 50px;

		@include breakpoint($large) {
			flex-flow: row;
			justify-content: center;
			padding-top: 200px;
		}
	}
	
	&__logo {
		width: 120px;
		margin: 0 auto;

		@include breakpoint($large) {
			width: 200px;
			height: 280px;
			margin: 0 0 auto 0;
		}
	}
	
	&__biotope {
		padding: 10px 0;
		letter-spacing: 2px;
		font-weight: 400;

		@include breakpoint($large) {
			margin-left: -6px;
		}
	}

	&__content {
		position: relative;
		padding: 0 35px;
		text-align: center;

		@include breakpoint($large) {
			padding: 100px 0 0 25px;
			text-align: left;
		}
	}


	&__uitoolchain {
		width: 200px;
		margin: 0 auto;
		font-size: 15px;
		font-weight: 400;
		line-height: 23px;

		@include breakpoint($large) {
			width: auto;
			margin: 0;
			font-size: 24px;
		}
	}

	&__claim {
		color: $bio-white;
		max-width: 400px;
		margin: 0 auto;
		padding: 20px 0;
		font-size: 14px;

		@include breakpoint($large) {
			margin: 0;
			padding: 30px 0 20px 0;
			font-size: 18px;
			max-width: 515px;
		}
	}

	bio-button {
		display: block;
		margin-bottom: 10px;

		@include breakpoint($large) {
			display: inline;
			margin-right: 15px;
		}
	}
}

.knowMore {
	background: linear-gradient(90deg, $bg-light-blue-gray 0%, $bg-blue-gray 100%);
	color: $dark-blue-gray;
	padding: 50px 0 75px;
	text-align: center;
	p {
		font-size: 20px;
		margin-bottom: 40px;
	}

	@include breakpoint($large) {
		padding: 75px 0 112px;
		p {
			font-size: 25px;
			margin-bottom: 50px;
		}
	}

	@include breakpoint($xlarge) {
		padding: 80px 0 120px;
		p {
			font-size: 30px;
			margin-bottom: 70px;
		}
	}
}

.soEasy {
	position: relative;
	padding: 90px 0;
	background-image: url("../../_assets/BioEasySetUp/background.svg");
	background-size: cover;

	&__intro {
		position: relative;
		z-index: 1;
		background: rgba(248, 251, 253, 0.5);

		@include breakpoint($large) {
			min-height: 350px;

			p {
				width: 45%;
			}
		}
	}

	&__line {
		display: none;

		@include breakpoint($large) {
			display: block;
			position: absolute;
			top: -25px;
			left: calc(50% - 38px - 1.2%);
		}

		@include breakpoint($xxlarge) {
			left: calc(50% - 38px)
		}
	}
}

.resources {
	padding: 90px 0 180px 0;
	background: $bio-gray;

	.col {
		margin-top: 0;
	}

	h3 {
		padding: 40px 0 20px 0;
		color: $light-orange;
		text-transform: none;
		text-align: center;

		@include breakpoint($large) {
			padding: 40px 0 0 0;
		}

		&.resources__headline--blue {
			color: $dark-blue;
		}
	}
}

.benefits {
	position: relative;
	padding-bottom: 90px;

	&__claim {
		margin: 20px 0 80px 0;
		text-align: center;

		@include breakpoint($medium) {
			text-align: left;
			display: flex;
			width: 100%;
			height: 400px;
			justify-content: space-around;
		}

		> div {
			@include breakpoint($medium) {
				flex: 1;
			}
		}

		img {
			// max-height: 950px;

			@include breakpoint($medium) {
				flex: 1;
			}
		}

		h2 {
			line-height: 32px;
		}
	}

	&__claimText{
		@include breakpoint($medium) {
			margin: auto 0;
		}
	}

	&__container {
		@include clearfix();
		@include breakpoint($medium) {
			@include span(10);
			float: none;
			margin: 0 auto;
		}

		bio-benefit {
			@include breakpoint($medium) {
				@include span(4);
			}
		}
	}

	.row {
		margin-top: 0;
	}

	.col {
		margin-top: 0;
	}
}

.whosBehind {
	&__headline {
		margin: 50px 0;
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.extendedBenefits {
	position: relative;
	background-color: $even-darker-blue;
	padding-bottom: $swooshHeight;

	&__container {
		padding: 100px 0;

		@include clearfix();
		@include breakpoint($medium) {
			@include span(10);
			float: none;
			margin: 0 auto;
		}

		bio-benefit {
			@include breakpoint($medium) {
				@include span(4);
			}
		}
	}
}

.company {
	position: relative;

	&__logos {
		display: flex;
		justify-content: space-around;

		@include breakpoint($medium) {
			padding: 0 50px;
			margin-top: 90px;
		}

		img {
			margin-right: 10px;

			@include breakpoint($medium) {
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;
			}
			display: none;

			&:nth-child(1),
			&:nth-child(2) {
				display: block;
			}

			@include breakpoint($medium) {
				&:nth-child(3),
				&:nth-child(4) {
					display: block;
				}
			}

			@include breakpoint($large) {
				&:nth-child(5),
				&:nth-child(6) {
					display: block;
				}
			}
		}
	}

	&__leads {
		text-align: center;

		@include breakpoint($medium) {
			margin-top: 90px;
		}

		p {
			@extend %benefit-text;
		}
	}

	.row {
		margin-top: 0;
	}

	&::before {
		@include swoosh('top', $swooshHeight, 'up', white, 60%, 70%);
	}

	&::after {
		@include swoosh('bottom', $swooshHeight, 'down', white, 60%, 70%);
	}
}

.footer {
	$accountForSwoosh: $swooshHeight + 110px;

	position: relative;
	padding: $accountForSwoosh 0 40px 0;
	background: $bio-gray;
	color: $black;

	.col {
		@include breakpoint($medium) {
			display: flex;
		}
	}

	&__githubLogo {
		display: none;
		
		@include breakpoint($large) {
			display: block;
			position: absolute;
			top: auto;
			left: auto;
			bottom: 0;
			transform: rotate(0);
			width: auto;
		}
	}

	&__checkItOut {
		padding-top: 25px;
		line-height: 1.3;

		@include breakpoint($medium) {
			flex-grow: 1;
			padding-top: 0;
			font-size: 20px;
		}

		@include breakpoint($large) {
			padding-left: 17vw;
		}
	}

	&__essentials {
		display: flex;
		flex-flow: column;
		padding: 80px 0 40px 0;

		@include breakpoint($medium) {
			padding: 25px 0;
		}

		a {
			margin-bottom: 10px;
			color: $black;
			&:hover {
				text-decoration: underline;
			}

			@include breakpoint($large) {
				margin-bottom: 20px;
			}
		}
	}
}
