@import 'defaultSassImports.scss';

header,
section {
    @include breakpoint($medium){
        height: 800px;
    }
}

.splash {
	font-family: $font-family-titles;
	background-color: purple;
	color: #f17c61;

	&__intro {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: 625px;
		padding-top: 200px;
	}

	&__content {
		position: relative;
		margin-left: 20px;
	}

	&__biotope {
		font-size: 100px;
		font-weight: 400;
	}

	&__uitoolchain {
		text-transform: uppercase;
		font-weight: 400;
	}

	&__logo {
		width: 325px;
		margin-top: -175px;
	}

	&__claim {
		color: $bio-white;
	}
}

.benefits {
    position: relative;

	&__claim {
		margin: 20px 0;
		text-align: center;
		@include breakpoint($medium) {
            width: 40vw;
            left: 50%;
            position: absolute;
			text-align: left;
		}
    }
    
	&__container {
		@include clearfix();
		@include breakpoint($medium) {
			position: absolute;
			bottom: 20px;
			@include span(10);
			left: 50%;
			transform: translate(-50%);
        }
        
		bio-benefit {
			@include breakpoint($medium) {
				@include span(4);
			}
		}
    }
    
    .row{
        margin-top: 0;
    }
}

.swoosh {
    position: absolute;
    left: 0;
    top: -130px;
    width: 100%;
    height: $swooshHeight;
    overflow: hidden;

    &--inverted {
        top: 0px;
        transform: rotate(180deg);
    }

    &__fold {
        height: 130px;
        width: 110vw;
        border-bottom-left-radius: 41%;
        border-bottom-right-radius: 41%;
        box-shadow: 0 81px $bio-white;
        
        &--blue {
            box-shadow: 0 81px $darker-blue;
        }

        &--gray {
            box-shadow: 0 81px $bio-gray;
        }
    }
}

.footer {
    position: relative;
    padding: ($includingSwooshPadding + 50px) 20px 0 20px;
    background: $bio-gray;
    color: $black;

    @include breakpoint($medium) {
        display: flex;
        justify-content: space-between;
        padding: $includingSwooshPadding 10vw 0 10vw;
    }
    
    @include breakpoint($large) {
        padding: $includingSwooshPadding 15vw 0 15vw;
    }

    @include breakpoint($xlarge) {
        padding: $includingSwooshPadding 18vw 0 15vw;
    }

    
    
    &__githubLogo {
        position: absolute;
        top: 30px;
        left: 0;
        transform: rotate(90deg);
        width: 70px;

        @include breakpoint($large) {
            top: auto;
            left: auto;
            bottom: 0;
            transform: rotate(0);
            width: auto;
        }
    }

    &__checkItOut {
        padding-top: 25px;
        line-height: 1.3;

        @include breakpoint($medium) {
            flex-grow: 1;
            padding: 0 3vw;
            font-size: 20px;
        }
        @include breakpoint($large) {
            padding-left: 17vw;
        }
    }

    &__essentials {
        display: flex;
        flex-flow: column;
        padding: 40px 0;

        a {
            margin-bottom: 10px;
            color: $black;
            &:hover {
                text-decoration: underline;
            }

            @include breakpoint($large) {
                margin-bottom: 20px;
            }
        }
    }
}