<section class="section">
    <div class="row">
        <div class="col col--medium-3">
            <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                imgsrc="../../_assets/icon-agnostic.png">
            </bio-benefit>
        </div>
        <div class="col col--medium-3">
            <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                imgsrc="../../_assets/icon-agnostic.png">
            </bio-benefit>
        </div>
        <div class="col col--medium-3">
            <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                imgsrc="../../_assets/icon-agnostic.png">
            </bio-benefit>
        </div>
        <div class="col col--medium-3">
            <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                imgsrc="../../_assets/icon-agnostic.png">
            </bio-benefit>
        </div>
    </div>
</section>