%benefit-text {
    font-family: $font-family-body;
    font-weight: $font-weight-light;
    line-height: 1.35;
    font-size: 15px;

    @include breakpoint($medium) {
        font-size: 15px;
    }
}

%headlineH2 {
    font-family: $font-family-titles;
    font-weight: $font-weight-normal;
    // line-height: 20px;
    // font-size: 20px;
}

%paragraph {
    font-family: $font-family-body;
    font-weight: $font-weight-light;
}

%sectionHeadline {
    font-family: $font-family-body;
    font-weight: $font-weight-light;
    font-size: 30px;
    @include breakpoint($medium) {
        font-size: 40px;
    }
}

%sectionHeadlineStrong {
    font-size: 50px;
    line-height: 40px;
    
    @include breakpoint($medium) {
        font-size: 70px;
        line-height: 60px;
    }
}