@import "node_modules/@biotope/element/lib/host.mixin";
@import '../../resources/scss/defaultSassImports.scss';

@include host('bio-benefit') {
    font-family: $font-family-titles;
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        > * {
            flex: 1 100%;
        }
        img {
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
        }
        h3 {
            font-weight: $font-weight-normal;
        }
        p {
            @extend %benefit-text;
            color: grey;
            text-align: center;
        }
    }

    &:host([inverted]) {
        .wrapper {
            h3 {
                color: $bio-white;
            }
            p {
                color: $lightest-blue;
            }
        }
    }
}
