<bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/expert.svg">
    <p>Get started by installing biotope with npm. It's all open-source!</p>
    <code>npm install biotope -g</code>
</bio-easy-set-up>
<bio-easy-set-up position="left" data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/expert.svg">
    <p>Get started by installing biotope with npm. It's all open-source!</p>
    <code>npm install biotope -g</code>
</bio-easy-set-up>
