<bio-scroll-animation
	animation-data-path="/_assets/animation.json"
	slide-duration="1500"
	scroll-length="10000"
	data-resources="[{
	paths: [
		'components/BioScrollAnimation/index.js'
	]}]" >

	<section class="animation-slide">
		<h3>Build</h3>
		<p>the Web Components you need for your project. Not the architecture and tools around it. That's what Biotope is for - including polyfilling and templating for browsers that need them.</p>
	</section>

	<section class="animation-slide">
		<h3>Collaborate</h3>
		<p>across several teams or projects on your component pool. Biotope's built-in quality gate and living styleguide ensure all standards are met - no matter who works on it.</p>
	</section>

	<section class="animation-slide">
		<h3>Distribute</h3>
		<p>your Web Components simultaneously from a single location. This guarantees a consistent appearance throughout all of your digital products. Conditional loading ensures you only ever tap the resources you need.</p>
	</section>

	<section class="animation-slide">
		<h3>Adopt</h3>
		<p>your components for any of your digital products. Biotope ensures they work in any framework: React, Angular, Vue - whichever you prefer. And the living styleguide shows how to use them.</p>
	</section>

	<section class="animation-slide">
		<h3>Stay ahead</h3>
		<p>and continuously evolve your library with every new version of a component. Thereby easily enforcing style and branding guidelines. Get rid of design debt and excessive maintenance costs.</p>
	</section>

</bio-scroll-animation>
