<bio-scroll-animation
	animation-data-path="/components/BioScrollAnimation/animation.json"
	slide-duration="250"
	scroll-length="12000"
	data-resources="[{
	paths: [
		'components/BioScrollAnimation/index.js'
	]}]" >

	<section class="animation-slide">
		<h2>Build</h2>
		<p>the Web Components you need for your project. Not the architecture and tools around it. That’s what Biotope is for</p>
	</section>

	<section class="animation-slide">
		<h2>Adopt</h2>
		<p>your components for any of your digital projects. Biotope ensures they work with any framework: React, Angular, Vue, you name it.</p>
	</section>

	<section class="animation-slide">
		<h2>Collaborate</h2>
		<p>across several teams or a company on your component pool. Biotope’s in-built quality gate ensures all standards within the ecosystem are met – no matter what tech stack is used.</p>
	</section>

	<section class="animation-slide">
		<h2>Distribute</h2>
		<p>your Web Components simultaneously from a single location – not for every website and app individually.</p>
	</section>

	<section class="animation-slide">
		<h2>Maintain</h2>
		<p>a consistent appearance throughout all of your digital outlets. Easily enforce style and branding guidelines.</p>
	</section>

	<section class="animation-slide">
		<h2>Stay ahead</h2>
		<p>of changing infrastructures and tools. Reduce design debt, energy and extortionate maintenance costs. The use of Biotope already pays off if you manage more than one digital product.</p>
	</section>

</bio-scroll-animation>
