@import "node_modules/@biotope/element/lib/host.mixin";

@include host('bio-scroll-animation') {

	position: relative;

	.scroll-trigger {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
	}

	.animation-container {
		margin: auto 0;
		width: auto;
		height: 100vh;
	}

	/* svg custom styles */
	/* TODO: remove #robotBG for final version! */
	#robotBG path {
		fill: #fff;
	}
}
