@import "node_modules/@biotope/element/lib/host.mixin";

@include host('bio-collaborator-tile') {
    .wrapper {
        border: 1px solid #b9b9b9;
        margin: 8px;
        width: 250px;
        height: 270px;
        cursor: pointer;
        transition: background-color 0.4s ease;

        &:hover {
            background-color: #b9b9b9;
        }

        img {

        }

        p {
            text-align: center;
        }
    }
}
