@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('bio-header') {
    display: block;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,123,92,1) 0%, rgba(255,217,133,1) 100%);
    height: 100px;
    position: absolute;
    top: 0;

    .inner-wrapper {
        padding: 0 $grid-gutter;
    }
}
