<button class="bioButton" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Watch</button>
<button class="bioButton" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Who's behind Biotope.pe</button>
<button class="bioButton bioButton--blue" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Github</button>
<button class="bioButton bioButton--full" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Contact</button>