<a href="http://localhost:9000" class="bioButton" data-resources="[{paths: ['components/BioButton/index.js', 'components/BioButton/index.css']}]">Watch</a>
<a href="http://localhost:9000" class="bioButton bioButton--long" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Who's behind Biotope.pe</a>
<a href="http://localhost:9000" class="bioButton bioButton--blue" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Github</a>
<a href="http://localhost:9000" class="bioButton bioButton--full" data-resources="[{paths: ['components/bioButton/index.js', 'components/bioButton/index.css']}]">Contact</a>