@import "node_modules/@biotope/element/lib/host.mixin";
@import '../../resources/scss/defaultSassImports.scss';

@include host("bio-button") {
	button {
		$border: 2px;

		min-width: 160px;
		padding: 10px 20px;
		background: transparent;
		color: $bio-black;
		border: $border solid $bio-orange;
		border-radius: 50px;
		font-family: $font-family-titles;
		font-size: 15px;
		font-weight: $font-weight-light;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		transition: 0.15s ease-out;
		cursor: pointer;

		&:hover {
			border: 2px solid transparent;
			background: $bio-orange;
			color: $bio-white;
		}

        &.blue {
			border: $border solid $bio-dark-blue;
			
			&:hover{
				background: $bio-dark-blue;
			}
		}
		
		&.white {
			border: $border solid $bio-white;
			color: $bio-white;
			
			&:hover{
				background: $bio-white;
				color: $bio-orange;
			}
		}

		&.smallMobileWidth {
			min-width: 130px;
			
			@include breakpoint($medium){
				min-width: 160px;
			}
		}

		&.whiteText{
			color: $bio-white;
		}
		
        &.full {
            color: $bio-white;
			background: linear-gradient(to top, $bio-orange, $bio-light-orange);
			border: 2px solid $bio-white;
    
            &:before {
                margin: 0;
            }
    
            &:hover {
                background: transparent;
				color: $bio-black;
				border: 2px solid $bio-orange;
            }
		}
		
        &.long {
			padding: 10px 15px;
		}
		
		&.mediumLong{
			width: 200px;
		}
	}
}
