{{bioInclude 'components/BioHeader/scaffolding/BioHeader' }}

<section>
	{{bioInclude 'components/BioStage/scaffolding/BioStage' }}
</section>

<section>
	<p>### section 1 ###</p>
</section>

<section>
	<p>### section 2 ###</p>
</section>

<section>
	<p>### section 3 ###</p>
</section>

{{bioInclude 'components/BioFooter/scaffolding/BioFooter' }}
