<bio-github-corner href="https://github.com/biotope" data-resources="[{paths: ['components/BioGithubCorner/index.js']}]"></bio-github-corner>
<header class="splash">
    <div class="splash__intro">
        <img src="_assets/biotope-logo.svg" alt="" class="splash__logo">
        <div class="splash__content">
            <h1 class="splash__biotope">biotope</h1>
            <h2 class="splash__uitoolchain">ui toolchain</h2>
            <p class="splash__claim">
                One web component library. As many worlds as you want. Decide what the future looks like.
            </p>
            <!-- placeholder buttons - will be replaced with bio components -->
            <button class="splash__button splash__button--orange">Explore</button>
            <button class="splash__button splash__button--blue">See Docs</button>
        </div>
    </div>
</header>

<footer class="footer">
    <div class="swooshFoldWrapper">
        <div class="swooshFoldWrapper__swooshFold"></div>
    </div>
    {{!-- <div class="footer__githubLogoWrapper"> --}}
        <img class="footer__githubLogo" src="_assets/github-logo.svg" alt="github octo-cat">
    {{!-- </div> --}}
<div class="footer__checkItOut">
    <p>Of course we also built<br><span class="footer__bigWords">this website</span> with biotope.</p>
            <!-- placeholder buttons - will be replaced with bio components -->
        <button class="splash__button splash__button--blue">Check it out</button>  
    </div>
<div class="footer__essentials">
    <a href="#">Impritn</a>
    <a href="#">Privacy Policy</a>
    <a href="#"> About VI</a>
</div>
</footer>