<bio-github-corner href="https://github.com/biotope"
    data-resources="[{paths: ['components/BioGithubCorner/index.js']}]"></bio-github-corner>

<header class="splash">
    <div class="splash__intro">
        <img src="_assets/biotope-logo.svg" alt="" class="splash__logo">
        <div class="splash__content">
            <h1 class="splash__biotope">biotope</h1>
            <h2 class="splash__uitoolchain">Toolchain For lasting Design Systems</h2>
            <p class="splash__claim">
                Evolve your UI to stay ahead of developments on the web and in your company. Gain control of all your websites, apps or IoT - using a single library of Web Components.
            </p>
            <bio-button title="See how it works" modifier="whiteText mediumLong"
                data-resources="[{paths: ['components/BioButton/index.js']}]" url="#benefits"></bio-button>
            <bio-button title="See Docs" modifier="blue whiteText mediumLong"
                data-resources="[{paths: ['components/BioButton/index.js']}]" url="https://build.biotope.sh">
            </bio-button>
        </div>
    </div>
</header>

<section id="benefits" class="benefits">
    <div class="row row--reducedWidth">
        <div class="col">
            <div class="benefits__claim">
                <img src="../_assets/intro-main.svg" alt="">
                <div>
                    <h2>
                        One Web Component Library. As Many Words As You Want.
                    </h2>
                    <bio-paragraph data-resources="[{paths: ['components/BioParagraph/index.js']}]">
                       The superpower of Web Components is that they are reusable. Build them once and use them in any project across your whole ocmpany. 
                       Biotope helps you build Web Components quickly, makes sure they work tohether and reconciles them into a single library. 
                       This in turn gives you a superpower: Lasting control of your entire UI.
                    </bio-paragraph>
                    <bio-button class="js-openModal" title="Who's behind biotope" modifier="long"
                        data-resources="[{paths: ['components/BioButton/index.js']}]"></bio-button>
                </div>
            </div>
            <div class="benefits__container">
                <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/framework-agnostic.svg" title="Framework agnostic">
                    Biotope works with any framework - Angular, React, Vue, etc. so there won't be any compatability issues. Use whichever you want. Or switch when it suits you.
                </bio-benefit>
                <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/future-proof.svg" title="Futureproof">
                    Web Components are a standard web technology. Because there is no coupling to the apps or websites for which they are used, 
                    your library of Web Components theoretically lives on forever.
                </bio-benefit>
                <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-open-source.svg" title="100% Open Source">
                    Biotope's entire toolchain is free. it is maintained by a community of professional developers.
                </bio-benefit>
            </div>
        </div>
    </div>

	<bio-swoosh color="#fff" direction="down" height="270" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

</section>

<section id="scrollAnimation" class="scrollAnimation">
	{{bioInclude 'components/BioScrollAnimation/scaffolding/BioScrollAnimation' }}
</section>

<section id="knowMore" class="knowMore">

	<bio-swoosh color="#0A0A2C" direction="up" height="270" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

	<div class="row row--reducedWidth">
		<div class="col">
			<p>Want to know more about what Biotope can do for you?</p>
			<bio-button title="Get in touch" url="mailto:biotope.generic@virtual-identity.com"
				data-resources="[{paths: ['components/BioButton/index.js']}]" modifier="large whiteText"></bio-button>
		</div>
	</div>

</section>

<section id="installation" class="installation">

	<bio-swoosh color="#f8fbfd" direction="up" height="270" shift="-40" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

    <div class="row row--reducedWidth">
        <div class="col">
            <img class="installation__line" src="../_assets/BioEasySetUp/line.svg">
            <div class="installation__intro">
                <bio-section-headline data-resources="[{paths: ['components/BioSectionHeadline/index.js']}]">Biotope Installation </br> <strong>Start building within minutes.</strong></bio-section-headline>
                <p>
                    No complicated registration process. No hidden costs. No more big technology decisions at the beginning of each project -
                    Biotope works with any framework so you can build in the environment of your choice. And everyone else too. Build up your
                    Web Component Library together and
                </p>
            </div>
            <bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/BioEasySetUp/1.svg" alt="step one">
                <h4>Install Package</h4>
                <p>Install biotope as global package with npm.</p>
                <code>npm install biotope -g</code>
            </bio-easy-set-up>
            <bio-easy-set-up position="left" data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/BioEasySetUp/2.svg" alt="step two">
                <h4>Set Up Project</h4>
                <p>Trust the CLI tool to set up your project. Run command to create biotope-boilerplate and choose preferences:</p>
                <code>biotope create myEcosystem</code>
            </bio-easy-set-up>
            <bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/BioEasySetUp/3.svg" alt="step three">
                <h4>Install Build-System</h4>
                <p>The included build-system helps you to automatically build production-ready resources.</p>
                <code>npm install</code>
            </bio-easy-set-up>
            <bio-easy-set-up position="left" data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/BioEasySetUp/4.svg" alt="step four">
                <h4>Run Build</h4>
                <p>Change directory to the newly generated biotope instance and run it from there.</p>
                <code>npm start</code>
            </bio-easy-set-up>
            <bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]" imgsrc="_assets/BioEasySetUp/5.svg" alt="step five">
                <h4>Start Building Components</h4>
                <p>Install the included build-ststem that helps you to automatically build product-ready resources</p>
                <code>biotope generate</code>
            </bio-easy-set-up>
        </div>
    </div>
</section>

<section id="resources" class="resources">
        <div class="row row--reducedWidth">
            <div class="col col--large-6">
                <h3 class="resources__headline--blue">Code & Resources</h3>
                <bio-resource logo-baseline image-border-color="blue" data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/github-logo.svg">
                    <p>See the Bioto.pe code on GitHub</p>
                    <bio-button title="Github" modifier="blue" url="https://github.com/biotope"></bio-button>
                </bio-resource>
                <bio-resource image-border-color="blue" data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/npm.svg">
                    <p>Get the latest version of the Biotope CLI tool from npm</p>
                    <bio-button title="NPM" modifier="blue" url="https://www.npmjs.com/package/biotope"></bio-button>
                </bio-resource>
                <bio-resource image-border-color="blue" data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/documentation.svg">
                    <p>Read the Bioto.pe documentation</p>
                    <bio-button title="Read docs" modifier="blue" url="https://build.biotope.sh"></bio-button>
                </bio-resource>
            </div>
            <div class="col col--large-6">
                <h3>Tutorials</h3>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/tutorial-icon.svg">
                    <p>Create Web Components with Biotope-Element</p>
                    <bio-button title="Read" url="https://element.biotope.sh/"></bio-button>
                </bio-resource>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/tutorial-icon.svg">
                    <p>Asynchronously load components with Biotope-Resource-Loader</p>
                    <bio-button title="Read" url="https://resource-loader.biotope.sh"></bio-button>
                </bio-resource>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/tutorial-icon.svg">
                    <p>Automate your Build process with Biotope-Build</p>
                    <bio-button title="Read" url=""></bio-button>
                </bio-resource>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/expert.svg" border="noBorder">
                    <p>You want to learn more? Ask an expert.</p>
                    <bio-button modifier="full" title="Contact" url="mailto:biotope.expert@virtual-identity.com"></bio-button>
                </bio-resource>
            </div>
        </div>
</section>

<section id="extendedBenefits" class="extendedBenefits">

	<bio-swoosh color="#0A0A2C" direction="up" height="270" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

    <div class="row row--reducedWidth">
        <div class="col">
                <bio-section-headline inverted data-resources="[{paths: ['components/BioSectionHeadline/index.js']}]">
                    Develop digital experiences </br> <strong>Flexible. Constant. Across All Devices.</strong>
                </bio-section-headline>
            <div class="extendedBenefits__container">
                <bio-benefit inverted data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-quality-focus.svg" title="Quality Focus">
                    Develop high quality components instead of the architecture and development environment required. That's Biotope's job.
                </bio-benefit>
                <bio-benefit inverted data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-consistent-design.svg" title="Consistent Design">
                    Roll out your interface from a single point of truth - simultaneously for all of your digital products. Keep your brand identity consistent across all your websites, apps or IoT say goodbye to design debt.
                </bio-benefit>
                <bio-benefit inverted data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-scalability.svg" title="Scalable Infrastructure">
                    Grow your library as big as you want. With Biotope collaboration is easy and your projects only uses the Web Components they need so perormance stays high.
                </bio-benefit>
            </div>
        </div>
    </div>

	<bio-swoosh color="#0A0A2C" direction="down" height="270" shift="-40" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

</section>

<section id="company" class="company">
    <div class="row row--reducedWidth">
        <div class="col">
            <bio-section-headline data-resources="[{paths: ['components/BioSectionHeadline/index.js']}]">
                You are in </br> <strong>good company</strong>
            </bio-section-headline>
            <div class="company__logos">
                <img src="../_assets/logo-ui.svg" alt="Union Investment">
                <img src="../_assets/logo-roche.svg" alt="Roche">
                <img src="../_assets/logo-basf.svg" alt="BASF">
                <img src="../_assets/logo-siemens.svg" alt="Siemens">
                <img src="../_assets/logo-man.svg" alt="MAN">
                <img src="../_assets/logo-munichre.svg" alt="Munich RE">
            </div>
            <div class="company__leads">
                <p>Need help setting up your frontend ecosystem? <br>
                    We love to support you.</p>
                <bio-button title="Contact VI" modifier="full"
                    data-resources="[{paths: ['components/BioButton/index.js']}]" url="mailto:biotope.support@virtual-identity.com"></bio-button>
            </div>
        </div>
    </div>
</section>

<footer class="footer">

	<bio-swoosh color="#f8fbfd" direction="up" height="270" shift="-40" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

    <div class="row row--reducedWidth">
        <div class="col">
            <a href="#">
                <img class="footer__githubLogo" src="_assets/github-logo.svg" alt="github octo-cat">
            </a>
            <div class="footer__checkItOut">
                <p>Of course we also built<br><span class="footer__bigWords">this website</span> with biotope.</p>
                <bio-button title="Check it out" modifier="blue" data-resources="[{paths: ['components/BioButton/index.js']}]" url="https://github.com/biotope/website">
                </bio-button>
            </div>
            <div class="footer__essentials">
                <a href="#">Imprint</a>
                <a href="#">Privacy Policy</a>
                <a href="#">About VI</a>
            </div>
        </div>
    </div>
</footer>

<bio-modal data-resources="[{paths: ['components/BioModal/index.js']}]">

    <div class="row row--reducedWidth">
        <div class="col">
            <div class="whosBehind">
                <bio-section-headline>
                    Who's behind <br><strong>Biotope?</strong>
                </bio-section-headline>

                <h2 class="whosBehind__headline">Core Group</h2>

                <div class="whosBehind__list">
                    <bio-collaborator-tile imgsrc="../_assets/marc.jpg">Marc Emmanuel
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/tiago.jpg">Tiago Marques
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/timo.jpg">Timo Mayer</bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/danny.jpg">Danny Stey</bio-collaborator-tile>
                </div>

                <h2 class="whosBehind__headline">Collaborators</h2>

                <div class="whosBehind__list">
                    <bio-collaborator-tile imgsrc="../_assets/marc.jpg">Marc Emmanuel
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/tiago.jpg">Tiago Marques
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/timo.jpg">Timo Mayer</bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="../_assets/danny.jpg">Danny Stey</bio-collaborator-tile>
                </div>
            </div>
        </div>
    </div>


</bio-modal>
