<bio-github-corner href="https://github.com/biotope" data-resources="[{paths: ['components/BioGithubCorner/index.js']}]"></bio-github-corner>
<header class="splash">
    <div class="splash__intro">
        <img src="_assets/biotope-logo.svg" alt="" class="splash__logo">
        <div class="splash__content">
            <h1 class="splash__biotope">biotope</h1>
            <h2 class="splash__uitoolchain">ui toolchain</h2>
            <p class="splash__claim">
                One web component library. As many worlds as you want. Decide what the future looks like.
            </p>
            <!-- placeholder buttons - will be replaced with bio components -->
            <button class="splash__button splash__button--orange">Explore</button>
            <button class="splash__button splash__button--blue">See Docs</button>
        </div>
    </div>
</header>

<section id="scroll-animation">
	{{bioInclude 'components/BioScrollAnimation/scaffolding/BioScrollAnimation' }}
</section>
