<bio-github-corner href="https://github.com/biotope"
    data-resources="[{paths: ['components/BioGithubCorner/index.js']}]"></bio-github-corner>

<header class="splash">
    <div class="splash__intro">
        <img src="_assets/biotope-logo.svg" alt="" class="splash__logo">
        <div class="splash__content">
            <h1 class="splash__biotope">biotope</h1>
            <h2 class="splash__uitoolchain">Toolchain For Lasting Design Systems</h2>
            <p class="splash__claim">
                Evolve your UI to stay ahead of developments on the web and in your company. Gain control of all your websites, Apps or IoT - using a single library of Web Components.
            </p>
            <bio-button title="See how it works" modifier="whiteText mediumLong"
                data-resources="[{paths: ['components/BioButton/index.js']}]" url="#benefits"></bio-button>
            <bio-button title="See Docs" modifier="blue whiteText mediumLong"
                data-resources="[{paths: ['components/BioButton/index.js']}]" url="https://build.biotope.sh">
            </bio-button>
        </div>
    </div>
</header>

<section id="benefits" class="benefits">
    <div class="row row--reducedWidth">
        <div class="col">
            <div class="benefits__claim">
                <img src="../_assets/intro-main.svg" alt="">
				<div class="benefits__claimText">
                    <h3>
                        One Web Component Library. As Many Worlds As You Want.
                    </h3>
                    <p>
                        The superpower of Web Components is that they are reusable. Build them once and use them in any project across your whole company. 
                       Biotope helps you build Web Components quickly, makes sure they work tohether and reconciles them into a single library. 
                       This in turn gives you a superpower: Lasting control of your entire UI.
                    </p>
                    <bio-button class="js-openModal" modalType="whosBehind" title="Who's behind biotope" modifier="long" data-resources="[{paths: ['components/BioButton/index.js']}]"></bio-button>
                </div>
            </div>
            <div class="benefits__container">
                <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/framework-agnostic.svg" title="Framework Agnostic">
                    Biotope works with any framework - Angular, React, Vue, etc. so there won't be any compatability issues. Use whichever you want. Or switch when it suits you.
                </bio-benefit>
                <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/future-proof.svg" title="Futureproof">
                    Web Components are a standard web technology. Because there is no coupling to the apps or websites for which they are used, 
                    your library of Web Components theoretically lives on forever.
                </bio-benefit>
                <bio-benefit data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-open-source.svg" title="100% Open Source">
                    Biotope's entire toolchain is free. It is maintained by a community of professional developers.
                </bio-benefit>
            </div>
        </div>
    </div>

	<bio-swoosh color="#fff" direction="down" height="270" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

</section>

<section id="scrollAnimation" class="scrollAnimation">
	{{bioInclude 'components/BioScrollAnimation/scaffolding/BioScrollAnimation' }}
</section>

<section id="knowMore" class="knowMore">

	<bio-swoosh color="#0A0A2C" direction="up" height="270" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

	<div class="row row--reducedWidth">
		<div class="col">
			<p>Want to know more about what Biotope can do for you?</p>
			<bio-button title="Get in touch" url="mailto:biotope.generic@virtual-identity.com"
				data-resources="[{paths: ['components/BioButton/index.js']}]" modifier="whiteText"></bio-button>
		</div>
	</div>

</section>

<section id="installation" class="installation">

	<bio-swoosh color="#f8fbfd" direction="up" height="270" offset-x="-768" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

    <div class="row row--reducedWidth">
        <div class="col">
            <div class="installation__intro">
                <h3>Biotope Installation <br> <strong>Start building <br> within minutes.</strong></h3>
                <p>
                    No complicated registration process. No hidden costs. No more big technology decisions at the beginning of each project -
                    Biotope works with any framework so you can build in the environment of your choice. And everyone else too. Build up your
                    Web Component Library together and
                </p>
            </div>
            <bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]"
				imgsrc="_assets/BioEasySetUp/1.svg"
				alt="step one"
                headline="Install Package"
                text="Install biotope as global package with npm."
                code="npm install biotope -g">
            </bio-easy-set-up>
            <bio-easy-set-up position="left" data-resources="[{paths: ['components/BioEasySetUp/index.js']}]"
				imgsrc="_assets/BioEasySetUp/2.svg"
				alt="step two"
                headline="Set Up Project"
                text="Trust the CLI tool to set up your project. Run command to create biotope-boilerplate and choose preferences:"
                code="biotope create myEcosystem">
            </bio-easy-set-up>
            <bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]"
				imgsrc="_assets/BioEasySetUp/3.svg"
				alt="step three"
                headline="Install Build-System"
                text="The included build-system helps you to automatically build production-ready resources."
                code="npm install">
            </bio-easy-set-up>
            <bio-easy-set-up position="left" data-resources="[{paths: ['components/BioEasySetUp/index.js']}]"
				imgsrc="_assets/BioEasySetUp/4.svg"
				alt="step four"
                headline="Run Build"
                text="Change directory to the newly generated biotope instance and run it from there."
                code="npm start">
            </bio-easy-set-up>
            <bio-easy-set-up data-resources="[{paths: ['components/BioEasySetUp/index.js']}]"
				imgsrc="_assets/BioEasySetUp/5.svg"
				alt="step five"
                headline="Start Building Components"
                text="Install the included build-ststem that helps you to automatically build product-ready resources"
                code="biotope generate">
            </bio-easy-set-up>
            <img class="installation__line" src="../_assets/BioEasySetUp/line.svg">
        </div>
    </div>
</section>

<section id="resources" class="resources">
        <div class="row row--reducedWidth">
            <div class="col col--large-6">
                <h3 class="resources__headline--blue">Code & Resources</h3>
                <bio-resource logo-baseline image-border-color="blue" data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/github-logo.svg">
                    <p>See the Bioto.pe code on GitHub</p>
                    <bio-button title="Github" modifier="blue" url="https://github.com/biotope"></bio-button>
                </bio-resource>
                <bio-resource image-border-color="blue" data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/npm.svg">
                    <p>Get the latest version of the Biotope CLI tool from npm</p>
                    <bio-button title="NPM" modifier="blue" url="https://www.npmjs.com/package/biotope"></bio-button>
                </bio-resource>
                <bio-resource image-border-color="blue" data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/documentation.svg">
                    <p>Read the Bioto.pe documentation</p>
                    <bio-button title="Read docs" modifier="blue" url="https://build.biotope.sh"></bio-button>
                </bio-resource>
            </div>
            <div class="col col--large-6">
                <h3>Tutorials</h3>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/tutorial-icon.svg">
                    <p>Create Web Components with Biotope-Element</p>
                    <bio-button title="Read" url="https://element.biotope.sh/"></bio-button>
                </bio-resource>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/tutorial-icon.svg">
                    <p>Asynchronously load components with Biotope-Resource-Loader</p>
                    <bio-button title="Read" url="https://resource-loader.biotope.sh"></bio-button>
                </bio-resource>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/tutorial-icon.svg">
                    <p>Automate your Build process with Biotope-Build</p>
                    <bio-button title="Read" url=""></bio-button>
                </bio-resource>
                <bio-resource data-resources="[{paths: ['components/BioResource/index.js']}]" imgsrc="_assets/expert.svg" border="noBorder">
                    <p>You want to learn more? Ask an expert.</p>
                    <bio-button modifier="full" title="Contact" url="mailto:biotope.expert@virtual-identity.com"></bio-button>
                </bio-resource>
            </div>
        </div>
</section>

<section id="extendedBenefits" class="extendedBenefits">

	<bio-swoosh color="#0A0A2C" direction="up" height="270" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

    <div class="row row--reducedWidth">
        <div class="col">
                <h3 class="inverted">
                    Develop digital experiences <br> <strong>Flexible. Constant.<br> Across All Devices.</strong>
                </h3>
            <div class="extendedBenefits__container">
                <bio-benefit color="inverted" data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-quality-focus.svg" title="Quality Focus">
                    Develop high quality components instead of the architecture and development environment required. (That's Biotope's job).
                </bio-benefit>
                <bio-benefit color="inverted" data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-consistent-design.svg" title="Consistent Design">
                    Roll out your interface from a single point of truth - simultaneously for all of your digital products. Keep your brand identity consistent across all your websites, apps or IoT. Say goodbye to design debt.
                </bio-benefit>
                <bio-benefit color="inverted" data-resources="[{paths: ['components/BioBenefit/index.js']}]"
                    imgsrc="../../_assets/icon-scalability.svg" title="Scalable Infrastructure">
                    Grow your library as big as you want. With Biotope collaboration is easy and your projects only uses the Web Components they need so perormance stays high.
                </bio-benefit>
            </div>
        </div>
    </div>

	<bio-swoosh color="#0A0A2C" direction="down" height="270" offset-x="-768" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

</section>

<section id="company" class="company">
    <div class="row row--reducedWidth">
        <div class="col">
            <h3>
                You are in <br> <strong>good company</strong>
            </h3>
            <div class="company__logos">
                <img src="../_assets/logo-ui.svg" alt="Union Investment">
                <img src="../_assets/logo-roche.svg" alt="Roche">
                <img src="../_assets/logo-basf.svg" alt="BASF">
                <img src="../_assets/logo-siemens.svg" alt="Siemens">
                <img src="../_assets/logo-man.svg" alt="MAN">
                <img src="../_assets/logo-munichre.svg" alt="Munich RE">
            </div>
            <div class="company__leads">
                <p>Need help setting up your frontend ecosystem? <br>
                    We love to support you.</p>
                <bio-button title="Contact VI" modifier="full"
                    data-resources="[{paths: ['components/BioButton/index.js']}]" url="mailto:biotope.support@virtual-identity.com"></bio-button>
            </div>
        </div>
    </div>
</section>

<footer class="footer">

	<bio-swoosh color="#f8fbfd" direction="up" height="270" offset-x="-768" data-resources="[{paths: ['components/BioSwoosh/index.js']}]"></bio-swoosh>

    <div class="row row--reducedWidth">
        <div class="col">
            <a href="#">
                <img class="footer__githubLogo" src="_assets/github-logo.svg" alt="github octo-cat">
            </a>
            <div class="footer__checkItOut">
                <p>Of course we also built<br><span class="footer__bigWords">this website</span> with biotope.</p>
                <bio-button title="See how" modifier="blue" data-resources="[{paths: ['components/BioButton/index.js']}]" url="https://github.com/biotope/website">
                </bio-button>
            </div>
            <div class="footer__essentials">
                <a class="js-openModal" modalType="imprint">Imprint</a>
                <a class="js-openModal" modalType="privacy">Privacy Policy</a>
                <a href="https://www.virtual-identity.com/">About VI</a>
            </div>
        </div>
    </div>
</footer>

<bio-modal modalType="whosBehind" data-resources="[{paths: ['components/BioModal/index.js']}]">
    <div class="row row--reducedWidth">
        <div class="col">
            <section class="whosBehind">
                <h3>
                    Who's behind <br><strong>Biotope?</strong>
                </h3>

                <h4 class="whosBehind__headline">Core Group</h4>

                <div class="whosBehind__list">
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/8701422?s=460&v=4" github="https://github.com/SheepFromHeaven">Marc Emmanuel
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="_assets/custom-avatars/tiago-marques.jpg" github="https://github.com/tiagomapmarques">Tiago Marques
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/1905161?s=460&v=4" github="https://github.com/timomayer">Timo Mayer</bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/4408826?s=460&v=4" github="https://github.com/dannystey">Danny Stey</bio-collaborator-tile>
                </div>

                <h4 class="whosBehind__headline">Collaborators</h4>

                <div class="whosBehind__list">
                    <bio-collaborator-tile imgsrc="https://avatars2.githubusercontent.com/u/4015313?s=460&v=4"
                    github="https://github.com/janrembold">Jan Rembold
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/3169754?s=460&v=4" github="https://github.com/alxbenz">Alexander Benz
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars0.githubusercontent.com/u/4249843?s=460&v=4" github="https://github.com/jurekbarth">Jurek Barth
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/1375720?s=460&v=4" github="https://github.com/smohadjer">Saeid Mohadjer
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/3465835?s=460&v=4" github="https://github.com/jashson">Matthias Schulz
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="_assets/custom-avatars/robin-spielmann.jpg" github="https://github.com/iam-robin">Robin Spielmann</bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/32572355?s=460&v=4" github="https://github.com/dweiger">Dominikus Weiger
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars0.githubusercontent.com/u/4287128?s=460&v=4" github="https://github.com/davelosert">David Losert
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/51372512?s=460&v=4" github="https://github.com/tiagoaguiar31">Tiago Aguiar
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars2.githubusercontent.com/u/16318844?s=460&v=4" github="https://github.com/luke-m">Lukas Müller
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/23478343?s=460&v=4" github="https://github.com/VI-Lukas">Lukas Gorniak
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars2.githubusercontent.com/u/8968377?s=460&v=4" github="https://github.com/koepferd">Deborah Köpfer
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/10438490?s=460&v=4" github="https://github.com/hummelch">Christoph Hummel
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars2.githubusercontent.com/u/25197658?s=460&v=4" github="https://github.com/no-creative-name">Kai Wißler
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars2.githubusercontent.com/u/48211993?s=460&v=4" github="https://github.com/simonbraunbrown">Simon Braun
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/41577958?s=460&v=4" github="https://github.com/filipemartinsfe">Filipe Martins
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/7582607?s=460&v=4" github="https://github.com/clemensf">Clemens Fiedler
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/32572354?s=460&v=4" github="https://github.com/bennyvi">Benjamin Konopka
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars1.githubusercontent.com/u/46744222?s=460&v=4" github="https://github.com/ItsmeEddi">Edwin Repp
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/5878267?s=460&v=4" github="https://github.com/jonerd">Jonas Begemann
                    </bio-collaborator-tile>
                    <bio-collaborator-tile imgsrc="https://avatars3.githubusercontent.com/u/26483886?s=460&v=4" github="https://github.com/IvailoStoyanov">Ivaylo Stoyanov
                    </bio-collaborator-tile>
                </div>
            </section>
        </div>
    </div>
</bio-modal>

<bio-modal modalType="imprint" data-resources="[{paths: ['components/BioModal/index.js']}]">
     <div class="row row--reducedWidth">
        <div class="col">
            <section class="imprint">
                <h3>Imprint</h3>
                <p>Virtual Identity AG <br> 
                Grünwälder Str. 10-14 | 79098 Freiburg <br>
                Phone: +49 761 20758=00 | +49 761 20758-01
                </p>
                <p>Mail: info@virtual-identity.com</p>
                <p>Board: Ralf Heller<br>
                Responsible for content according to § 55 Abs. 2 RStV : Ralf Heller
                </p>
                <p>HRB 6218, District Court Freiburg<br>
                VAT ID: DE 208002218</p>
                <h4>Legal Note</h4>
                <p>Copyright | Copyright © 2002-2019 Virtual Identity AG. All rights reserved.</p>
                <p>The contents of the website of Virtual Identity AG are proteced by copyright and may not be 
                    reproduced, duplicated or distributed in any form without the written consent of Virtual Identity AG.
                </p>
                <p><strong>Disclaimer</strong> | We check and update the information offered on our website regularly. 
                Despite careful control, the information provided on the website may have changed. Therefore no liability 
                or guarantee for the topicality, correctness and comleteness can be taken over. The content of linked pages 
                are the sole responsibility of their operators.</p>
            </section>
        </div>
    </div>
</bio-modal>

<bio-modal modalType="privacy" data-resources="[{paths: ['components/BioModal/index.js']}]">
     <div class="row row--reducedWidth">
        <div class="col">
            <section class="privacyPolicy">
                <h3>Privacy Policy</h3>
                <p><strong>Information acc. Art 13 GDPR</strong><br>
                As of: 14.08.2019</p>
                <p>We appreciate your interest in our website and our company.</p>
                <p>The projection of your personal data during the collection, processing and use during yor visit to 
                    our portal is very important to us. We have taken technical and oranizational measures to ensure 
                    that the data protection rules of both us and external service providers are respected.
                </p>
                <p>In the present case, we would like to inform you about the nature, scope and purpouse of the collection 
                    and use of your personal data provided to us, as well as their processing and use.
                </p>
                <h4>1. Contact details</h4>
                <p>You can contact us as follows:<br>
                Virtual Identity AG<br>
                Greenwood road 10-14<br>
                79098 Freiburg<br>
                t +49 761 20758-456<br>
                f +49 761 20758-02<br>
                Board: Ralf Heller<br>
                e-mail: info@virtual-identity.com</p>
                <h4>2. Processing of Data</h4>
                <p>Personal information is information about your identity. These include e.g. Information such as name, address, telephone number, e-mail address.</p>
                <p>In general, you can visit our website without leaving personal data, e.g. if you only want to inform yourself about our products and visit the corresponding page.
                    The accesses made on our homepage and every retrieval of a file deposited on the homepage are logged. The storage serice internal system-related and statistical purpouses.
                    The following are logged: browser type / version, operating system used, referrer URL (the previously visited page), host name of the accessing computer (IP address), time 
                    of service request. However, no personally identifiable information will be transmited by you and this information will be stored separately from any personally identifiable information 
                    transmitted. Additionally, the IP address of the requesting computers are logged.
                </p>
                <p>In certain cases, however, we will need your name and address, as well as other infirmation, so that we can provide the services you require. This further personal data will only be collected 
                    and saved if youprovide this information voluntarily, for example in the context of a request, registration, an application as an employee or potential supplier or for orders and their transactions.
                </p>
                <p></p>
                <h4>3. Data we collect</h4>
                <p>a. Data when using the website<br>
                Please refer to sections 2 and 7-9 of this privacy policy.<br>
                b. canditature<br>
                Information about your application can be found in point 5.</p>
            </section>
        </div>
    </div>
</bio-modal>
