{{!-- <bio-button data-resources="[{paths: ['components/BioButton/index.js', 'components/BioButton/index.css']}]">Fill me</bio-button> --}}
<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{bioInclude 'components/BioButton/BioButton'}}
			</div>
		</div>
	</section>
</div>